     {{>main}}
      
        <div class="container">
            <div class="row">
                <div class="col-md-10 well well-md">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">Total Member</div>

                                <div class="panel-body">
                                   <span> <i class="fa fa-users fa-3x"></i><h2 class="text-success">{{tMembers}}</h2></span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">Groups</div>

                                <div class="panel-body">
                                   <span> <i class="fa fa-object-group fa-3x"></i><h2>{{tGroups}}</h2></span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">Credit officers</div>
                                <div class="panel-body">
                                   <span> <i class="fa fa-user-secret fa-3x"></i><h2 class="text-info   ">{{tOfficers}}</h2></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>

    <!--Individual -->
             <div class="row">
                <div class="col-md-10 well well-md">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">Total Loan</div>

                                <div class="panel-body">
                                   <span> <i class="fa fa-asterisk fa-3x"></i><h2 class="text-success">2300</h2></span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading">Total Outstanding</div>

                                <div class="panel-body">
                                   <span> <i class="fa fa-object-group fa-3x"></i><h2>200</h2></span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Total Payment</div>
                                <div class="panel-body">
                                   <span> <i class="fa fa-money fa-3x"></i><h2 class="text-info   ">2300.00</h2></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>

